{% extends 'gestion/base.html' %}
{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h1 class="text-center">Crear Proyecto</h1>
        <form method="post" class="bg-secondary p-4 rounded">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ field.label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary w-100">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}